<h1> Change Name or Remove Game </h1>
<br>
<br>
<form action="/games/@game.id" method="POST">
    <input type="text" name="game_title" value="New Title">
    <input class="button button1" type="submit" value="Update">
</form>