<h1> Welcome to your Game Chest, <%= current_user.username %>! </h1>

<h3>Games</h3>

<% @games.each do |game| %>
    <%= game.game_title %> </br>
    <a href="/games/<%=game.id%>/edit">Edit</a>
    <% end %>

<p> <a href="games/new">Add a new Videogame</a>

