<h1> Welcome to your Game Chest, <%= current_user.username %>! </h1>

<h3>Games</h3>
<ul>
<% @games.each do |game| %>
    <li><%= game.game_title %>
    <a href="/games/<%=game.id%>/edit">Edit</a></li>
<% end %>
</ul>
<br>
<p> <a href="games/new">Add a new Videogame</a>

